body {
  background-color: #F8F7F7;
}
a {
  color: #4A434B;
}

a:hover {
  color: #675F68;
}

h2 {
  font-size: 2em;
}

#app {
  overflow: hidden;
  width: 100%;
  height: 5000px;
}

#app-menu {
  position: fixed;
  right: 20px;
  top: 10px;
  z-index: 5;
}

#app-close {
  color: rgba(0, 0, 0, 0.3);
}

#app-close:hover {
  color: rgba(0, 0, 0, 0.7);
}

.subscription {
  background-color: rgba(242, 239, 240, 0.8);
}

.subscription:hover {
  background-color: rgba(242, 239, 240, 0.5);
}

#sidebar-menu {
  -webkit-transition: all .1s ease-in-out;
  width: 275px;
  left: -275px;
  height: 100%;
  position: fixed;
  top: 0;
  background: #E3D8DB;
  text-align: center;
}

#feed {
  -webkit-transition: all .1s ease-in-out;
  padding: 3px 15px 0 3px;
}

.app-wrap.show-nav #sidebar-menu,
.app-wrap.show-nav #feed,
.app-wrap.show-nav .toggle-nav {
  margin-left: 275px;
}

.toggle-nav {
  position: fixed;
  top: 15px;
  left: 0;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: all .1s ease-in-out;
}

/* - Scrollbar ------------------------------------------------------------- */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #A2818A;
}

::-webkit-scrollbar-corner {
  background: #000;
}