html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #FAFAFA;
}
a {
  color: #4A434B;
}

a:hover {
  color: #675F68;
}

h2 {
  font-size: 2em;
}

#app {
  overflow: hidden;
  width: 100%;
}

#app-menu {
  position: fixed;
  right: 20px;
  top: 10px;
  z-index: 5;
}

#app-close {
  color: rgba(0, 0, 0, 0.3);
}

#app-close:hover {
  color: rgba(0, 0, 0, 0.7);
}


#feed, #gallery {
  -webkit-transition: all .05s ease-in-out;
  padding: 3px 15px 0 15px;
}

#gallery {
  width: 50%;
}

/* Sidebar --------------------------------------------------------- */

#sidebar-wrapper {
  background: #C4ABB1;
}

.subscription {
  background-color: rgba(242, 239, 240, 0.8);
}

.active-subscription {
  background-color: rgba(242, 239, 240, 0.9);
}

.subscription:hover {
  background-color: rgba(242, 239, 240, 0.5);
}

.active-subscription:hover {
  background-color: rgba(242, 239, 240, 0.7);
}

.sub-image {
  width: 20px;
  height: 20px;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


 /* Scrollbar ------------------------------------------------------- */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #A2818A;
}

::-webkit-scrollbar-corner {
  background: #000;
}


/* Gallery ---------------------------------------------------------- */

.image-post {
  overflow: hidden;
  width: 200px;
  min-height: 175px;
  display: inline-block;
  /* vertical-align: top; */
  margin: 7px 7px 7px 7px;
  border: 1px solid rgba(0,0,0,0.3);
}

.image-post:hover {
  border: 1px solid rgba(0,0,0,0.8);
}

.inner-image {
}

.no-image {
  width: 200px;
  height: 200px;
}